*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
#nav-belt{
    background-color: #1c1e22;
    font-weight: 400;
    font-size: 14px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0 0px;
    color: white;
    

}
.nav-logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: -1px;
    left: -55px;
}
.nav-logo img{
    height: 65px;
    width: 100%;
    padding-left: 15PX;
    top: -1px;
    left: -55px;
    object-fit: cover;
}
.nav-logo img:hover{
    cursor: pointer;
}
div .in{
    margin: 2px;
    margin-bottom: 8px;
}
.location-icon{
    object-fit: cover;
    height: 18px;
    width: 18px;
}
    /* object-fit: cover; */

.logo-righttext{
    position: relative;
    left: -99px;
}
.logo-righttext p{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgb(204,204,204);
     position: relative;
    left: 25px;
}
.logo-righttext h4{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: rgb(255,255,255);
    position: relative;
    left: 7px;
    top: -4px;
   
}
.all-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
}

.all-button select{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: rgb(15, 17, 17);
    background-color: #8f929c;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid transparent;
    width: 45px;
    height: 45px;
    padding: 5px 10px;
}

.lang{
    display: flex;
    
}
 .nav-cart{
    display: flex;
 }