* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

#nav-belt {
    background-color: #1c1e22;
    font-weight: 400;
    font-size: 14px;
    height: 58px;
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    padding: 0 0px;
    color: white;


}

.nav-logo {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: -1px;
    left: 2px;
}

.nav-logo img {
    height: 60px;
    width: 100%;
    padding-left: 15PX;
    top: -1px;
    left: -55px;
    object-fit: cover;
}

.nav-logo img:hover {
    cursor: pointer;
}

div .in {
    margin: 2px;
    margin-bottom: 8px;
}

.location-icon {
    object-fit: cover;
    height: 18px;
    width: 18px;
}


.logo-righttext {
    position: relative;
    left: 5px;
}

.logo-righttext p {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgb(204, 204, 204);
    position: relative;
    left: 25px;
}

.logo-righttext h4 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 7px;
    top: -4px;

}

.all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 52px;
}


.all-button select {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: rgb(15, 17, 17);
    background-color: #c6c6c7;
    border-radius: 2px;
    box-sizing: border-box;
    width: 55px;
    height: 45px;
    padding: 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: -1px;

}

.nav-search input[type="text"] {
    position: relative;
    left: 0.11px;
   width: 600px;
    height: 44px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: rgb(17, 17, 17);
    border: 1px solid #ccc;
    border-radius: 2px;
}
.nav-search button{
    height: 47px;
    width: 51px;
    background-color: rgb(244, 192, 96);
    position: relative;
    top: 11px;
    left: -5px;
    border-radius: 5px;
}
.nav-search svg{
    height: 35px;
    width: 35px;
    position: relative;
    flex: 1;
    color: white;
    /* top: 12px; */
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: -7px;
}
.lang {
    display: flex;
    position: relative;
    left: 72px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 15px;

}

.nav-link  {
    position: relative;
    left: 90px;
    
}
.nav-link p{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgb(255, 255, 255);

}
.nav-link h4{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: rgb(255, 255, 255);

}
.nav-link2 {
    position: relative;
    left: 100px;
}
.nav-link2 p{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgb(255, 255, 255);

}
.nav-link2 h4{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: rgb(255, 255, 255);

}

.nav-cart {
    display: flex;
    position: relative;
    left: 125px;
    top: 7px;

}
.nav-cart h4{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: rgb(255, 255, 255);

}